/*Reset*/
@made by kami;
@charset "utf-8";

/* x-add */
.main-right .content{padding: 0 2%;}
 
/* x-add end */ 
.add-step{ 
	width: 100%;
	height: 100px; 
	font-size: 18px;
	text-align: left; 
	overflow: hidden;
}

.add-step .step-list{float: left; padding: 23px 0;width: 18%;}
.add-step .step-list .step-num{display: block;float: left;width: 81px;height: 53px;}
.add-step .step-list:nth-of-type(1) .step-num{background: url(../images/index/step.png)no-repeat 0 0;}
.add-step .step-list:nth-of-type(3) .step-num{background: url(../images/index/step.png)no-repeat 0 -98px;}
.add-step .step-list:nth-of-type(5) .step-num{background: url(../images/index/step.png)no-repeat 0 -196px;}
.add-step .step-list:nth-of-type(7) .step-num{background: url(../images/index/step.png)no-repeat 0 -294px;}
.add-step .step-list .step-tit{font-size: 15px;color: #474748;overflow: hidden;height: 22px;line-height: 22px;margin-top: 7px;}
.add-step .step-list .step-dg{font-size: 12px;color: #A5A5A6;overflow: hidden;height: 22px;line-height: 22px;}

.add-step .jianTou{margin: 35px 1%; float: left;width: 70px;height: 30px;background: url(../images/index/jiantou.png)no-repeat 0 0;}
.add-step .jianTou{}
/*.add-step span{
	font-size: 14px;
	line-height: 24px;
	margin-left: 20px;
	font-weight: bold;
}*/
.statistics{
	position: relative;
	width: 100%;   
	/*border-top: 1px solid #06be94;*/
}
.statistics .statistics-box{ 
	width: 32%;
	height: 132px;
	float: left;
	margin-left: 2%;
	text-align: left;
	color: #ffffff;
	overflow: hidden;
	background: #fff; 
	box-sizing: border-box; 
	padding: 25px 0;
}
.statistics .statistics-box:first-child{margin-left: 0;}
.statistics .statistics-box .box-icon{
	width: 21%;
	/*height: 92px;*/
	overflow: hidden;
	float: left;
	margin-right: 10px;
	/*border: 1px solid red;*/
	margin: 0 10%;
}
.statistics .statistics-box .box-icon img{width: 100%;} 
.statistics .statistics-box .box-name{ 
	font-size: 14px;
	width: 48%;
	height: ;
	float: left;
	margin: 10px 0 10px 0;
	color: #ACB4B4;
	overflow: hidden;
} 
.statistics .statistics-box .box-amount{ 
	font-size: 25px;
	width: 48%;
	height: ;
	float: left; 
	color: #555A63;
	font-weight: bold;
	overflow: hidden;
} 
 
.panel-name{
	width: 100%;  
	font-size: 14px;
	text-align: left; 
	padding: 10px 0 15px 0;
} 

/* x-update */
.yanZheng{margin: 20px 0;}
.yanZheng .yzBox{background: #fff;width: 49%;height: 200px;float: left;}
.yanZheng .yzBox:last-child{margin-left: 2%;} 
.yanZheng .yzBox .box-icon{width: 20%; float: left;margin : 5% 0 5% 6%;}
.yanZheng .yzBox .box-icon img{width: 100%;}
.yanZheng .yzBox .box-content{width: 55%; float: left;margin : 0 6%;}
.yanZheng .yzBox .box-content .tit{color: #06BE94;text-align: left;font-size: 20px;margin: 30px 0 20px 0;}
.yanZheng .yzBox .box-content .yz_shuru{display: block;width: 100%;border: 1px solid #E7ECEE;background: #F7F8F9;height: 36px;margin: 20px 0;padding: 0 15px;}
.yanZheng .yzBox .box-content .tiJiao{cursor: pointer;display: block;width: 40%;background: #06BE94;border-radius: 5px;border: none;height: 34px;color: #FFFFFF;font-size: 13px;}
/**/
.yanZheng .yzBox .result_tit{border-bottom: 1px solid #F2F2F2;height: 40px;line-height: 40px;text-align: left;padding: 0 3%;}
.yanZheng .yzBox .result_content{height: 160px;width: 100%;}
.yanZheng .yzBox .result_content .re_left{float:left; width: 63%;height: 100%;padding-top: 10px;}
.yanZheng .yzBox .result_content .re_list{font-size: 12px;line-height: 25px;}
.yanZheng .yzBox .result_content .tit{color: #9CA4A4;width: 40%;float: left;text-align: right;}
.yanZheng .yzBox .result_content .answer{color: #000;width: 55%;float: left;text-align: left;}

.yanZheng .yzBox .result_content .re_right{float:left; width: 37%;height: 100%;box-sizing: border-box;border-left: 1px solid #EEEEEE;}
.yanZheng .yzBox .result_content .re_true{cursor: pointer;display: block;width: 50%;background: #06BE94;border-radius: 5px;border: none;height: 34px;color: #FFFFFF;font-size: 13px;margin:35px auto 20px auto;}
.yanZheng .yzBox .result_content .re_false{cursor: pointer;display: block;width: 50%;background: #E2E8EA;border-radius: 5px;border: none;height: 34px;color: #000;font-size: 13px;margin: 20px auto;}
 